## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [3]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [70]:
df1 = pd.read_csv('Datasets/gasolina_2000+.csv', index_col=0)
# df1.shape
df2 = pd.read_csv('Datasets/gasolina_2010+.csv', index_col=0)
# df2.shape
df = pd.concat([df1, df2])
# Juntando os 2 DataFrames
# df.shape
df

/var/folders/t8/ksw0kx655cx4vk4cgrf66_q00000gp/T/ipykernel_42137/1920068781.py:3: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('Datasets/gasolina_2010+.csv', index_col=0)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [71]:
# Mostra as colunas e os tipos dos dados que ela aceita
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

In [6]:
# Mostra os 5 primeiros itens
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [72]:
# type(df["DATA INICIAL"].iloc[2])
dataInicio = df['DATA INICIAL'][2]
dataInicio # Mostra qual é a Terceira entrada
# type(dataInicio) # Mostra o tipo do dado

'2004-05-09'

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [73]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"]) # Convertendo para o Tipo DateTime, se executarmos a linha anterior agr, pd.to_datetime(df['DATA INICIAL'])[2], ele mostra um Timestamp
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])
# pd.to_datetime(df['DATA INICIAL'])[2].day # Podemos utilizar os conceitos da Aula 13 - Series temporais no pandas

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [74]:
# criando coluna 'ANO-MES' filtrando pela 'DATA FINAL'. Como data final agr é um datetime, é possivel referenciar na func lambda o ano e mes.
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "/{:02d}".format(x.month)) 
# utilizando a func lambda p pegar ano e o mes
df["ANO-MES"]

0         2004/05
1         2004/05
2         2004/05
3         2004/05
4         2004/05
           ...
120818    2021/05
120819    2021/05
120820    2021/05
120821    2021/05
120822    2021/05
Name: ANO-MES, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [75]:
# df.columns # para ver todas as colunas presente no DF
df['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [76]:
df_filtro = df['PRODUTO'] == 'GASOLINA COMUM'

In [77]:
# df2 = df[df['PRODUTO'] == 'GASOLINA COMUM'] # pode ser feita dessa maneira tbm, passando direto
df2 = df[df_filtro]
# Se observar o PRODUTO, é apenas GASOLINA COMUM.
df2.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004/05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004/05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004/05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004/05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004/05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [78]:
# df2[df['ANO-MES'] == '2008/08'] # filtro simples, apenas as Operacoes de agosto de 2008
df2[df['ANO-MES'] == '2008/08']["PREÇO MÉDIO REVENDA"].mean() #qnd ano e mes for ==, ele vai pegar o $ medio de revenda, e passamos a func .mean() p pegar a media.

/var/folders/t8/ksw0kx655cx4vk4cgrf66_q00000gp/T/ipykernel_42137/724353768.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[df['ANO-MES'] == '2008/08']["PREÇO MÉDIO REVENDA"].mean() #qnd ano e mes for ==, ele vai pegar o $ medio de revenda, e passamos a func .mean() p pegar a media.

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [79]:
df2[(df2['ANO-MES'] == '2014/05') & (df2['ESTADO'] == 'SAO PAULO')]["PREÇO MÉDIO REVENDA"].mean()
# df2[  1˚  (df2['ANO-MES'] == '2014/05')   &   2˚  (df2['ESTADO'] == 'SAO PAULO')  ] # Filtro Duplo, pega a data especifica e '&' o estado == SP
#Um filtro com 3 consultas, ano/mes, estado e $ medio de revenda, com isso pegamos a media, passando a func mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [80]:
df2[df2["PREÇO MÉDIO REVENDA"] > 5][["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]].head(8)
#       AQUI Ê FILTRO DOS DADOS    |   AQUI É O SELECAO, NO CASO AS COLUNAS Q QUEREMOS VER
# como vou passar mais de uma conculta [[]] observe que sao 2 [colchetes], como uma lista.

               ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201            ACRE  2018/05                5.053
98347            ACRE  2018/06                5.035
98493            ACRE  2018/06                5.038
98511  RIO DE JANEIRO  2018/06                5.016
98646            ACRE  2018/06                5.031
98797            ACRE  2018/06                5.036
98948            ACRE  2018/06                5.039
99098            ACRE  2018/07                5.021

### 11. Qual a média de preço dos estados da região sul em 2012?

In [52]:
df2["ANO-MES"] = pd.to_datetime(df2["ANO-MES"]) # Converta a coluna "ANO-MES" para o tipo de dados de data
df_aux = df2[df2["ANO-MES"].dt.year == 2012] # Agora, você pode filtrar apenas o ano de 2012 usando a função lambda
df_aux[df_aux["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()
# df_aux
# UNICO PROBLEMA É QUE ELE ALTERA O TIPO P DATETIME.

/var/folders/t8/ksw0kx655cx4vk4cgrf66_q00000gp/T/ipykernel_42137/4185174651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["ANO-MES"] = pd.to_datetime(df2["ANO-MES"]) # Converta a coluna "ANO-MES" para o tipo de dados de data

2.7214423076923073

### Outra forma de ser executada a questão 11

In [81]:
df_aux = df2[(df2["DATA FINAL"].apply(lambda x: x.year) == 2012)] # Criando func lambda p pegar o ano, 2012
df_aux.head(5) # Apos filtrar apenas por 2012, com a func lambda criando um df aux, vms passar a regiao e ver a media do preco medio de revenda
df_aux[df_aux["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [82]:
df2["MES"] = df2["DATA FINAL"].apply(lambda x: x.month) # Msm esquema das func anteriores.
df_rio = df2[df2["ESTADO"] == "RIO DE JANEIRO"] # Apos criar a coluna mes, filtrando apenas pelo estado do RJ
df_rio

/var/folders/t8/ksw0kx655cx4vk4cgrf66_q00000gp/T/ipykernel_42137/1842051015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["MES"] = df2["DATA FINAL"].apply(lambda x: x.month) # Msm esquema das func anteriores.

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES,MES
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,2004/05,5
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027,2004/05,5
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026,2004/05,5
12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031,2004/06,6
12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03,2004/06,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120003,2021-03-28,2021-04-03,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,276,R$/l,6.102,0.197,5.599,6.559,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120181,2021-04-04,2021-04-10,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,275,R$/l,6.007,0.193,5.299,6.499,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120360,2021-04-11,2021-04-17,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,261,R$/l,6.016,0.209,5.399,6.516,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120538,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05,5

In [83]:

df_month_rio = df_rio.groupby("ANO-MES")[["PREÇO MÉDIO REVENDA", "MES"]].last() # Pega a ultima informaçao de cada mes
# df_month_rio # shift, ele faz um deslocamento do meu conjunto de dados, mantendo o meu indice fixo
# df_month_rio[df_month_rio["MES"] == 12].shift(1) #para entender melhor execute separado, e observe o resultado
# ele joga o valor do mes seguinte para 'baixo'
(df_month_rio[df_month_rio["MES"] == 12] / df_month_rio[df_month_rio["MES"] == 12].shift(1) - 1) * 100
# Resumo: o shift joga o valor uma linha abaixo, com isso conseguimos '/' dividir um ano pelo outro, obtendo a variação.

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004/12                  NaN  NaN
2005/12             9.233449  0.0
2006/12             0.917065  0.0
2007/12             0.355591  0.0
2008/12             0.984252  0.0
2009/12             1.637427  0.0
2010/12             2.032988  0.0
2011/12             7.105263  0.0
2012/12             0.982801  0.0
2013/12             6.777894  0.0
2014/12             4.361979  0.0
2015/12            20.461634  0.0
2016/12             3.625065  0.0
2017/12            13.643178  0.0
2018/12             5.804749  0.0
2019/12             3.802993  0.0
2020/12            -1.321321  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

##### Uma serie temporal, nada mais que é uma tabela que contem informaçoes de tempo, e mostrar os valores mais caros e mais baratos em um periodo X

In [84]:
df2.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"] # Isso ja é um serie temporal, que mostra os maiores valores de 'PREÇO MÉDIO REVENDA'
# No groupby, o 'ANO-MES' vira indice, no caso, as datas como '2004-05-01'

ANO-MES
2004/05    2.438
2004/06    2.496
2004/07    2.545
2004/08    2.560
2004/09    2.570
           ...
2021/01    5.213
2021/02    5.809
2021/03    6.688
2021/04    6.227
2021/05    6.258
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: float64

In [103]:
df_max = df2.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"] # Os Maiores Valores 
df_min = df2.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"] # Os Menores Valores

idx_max = df2.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmax() # Retorna o inidice na qual o valor max foi detectado
idx_min = df2.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmin() # Retorna o inidice na qual o valor min foi detectado
# Vou utilizar o indice p localizaçao no DF original, usar essa func para saber a posiçao dos maiores e menores valores

df_diff = pd.DataFrame() # DF vazio

In [90]:
# idx_max

ANO-MES
2004/05     12114
2004/06     12168
2004/07     12334
2004/08     12411
2004/09     12600
            ...
2021/01    117685
2021/02    118739
2021/03    119271
2021/04    120344
2021/05    120701
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [110]:
df_max

ANO-MES
2004/05    2.438
2004/06    2.496
2004/07    2.545
2004/08    2.560
2004/09    2.570
           ...
2021/01    5.213
2021/02    5.809
2021/03    6.688
2021/04    6.227
2021/05    6.258
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: float64

In [104]:
# Preenchendo o DF vazio 'df_diff' e Como os indices sao os msm, sao comum, ele os mantem, o ANO-MES
df_diff["abs_diff"] = df_max - df_min # Diferença absoluta
df_diff["perct_diff"] = (df_max - df_min) / df_min * 100 # Conta de percentual, p saber a diferença em % 
df_diff["max"] = df_max # Maior valor baseado no ano mes
df_diff["min"] = df_min # Menor valor baseado no ano mes

In [105]:
df_diff

         abs_diff  perct_diff    max    min
ANO-MES
2004/05     0.550   29.131356  2.438  1.888
2004/06     0.584   30.543933  2.496  1.912
2004/07     0.609   31.456612  2.545  1.936
2004/08     0.530   26.108374  2.560  2.030
2004/09     0.539   26.538651  2.570  2.031
...           ...         ...    ...    ...
2021/01     1.383   36.109661  5.213  3.830
2021/02     1.688   40.960932  5.809  4.121
2021/03     2.109   46.058091  6.688  4.579
2021/04     1.450   30.353779  6.227  4.777
2021/05     1.391   28.580234  6.258  4.867

[204 rows x 4 columns]

In [114]:
df2.loc[idx_max, :]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES,MES
12114,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,GASOLINA COMUM,4133,R$/l,1.888,0.101,1.540,2.220,0.233,0.053,1.655,0.063,1.38,1.9319,0.038,2004/05,5
12168,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,GASOLINA COMUM,4139,R$/l,1.912,0.094,1.529,2.199,0.235,0.049,1.677,0.068,1.39,1.9733,0.041,2004/06,6
12334,2004-07-18,2004-07-24,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,130,R$/l,1.936,0.082,1.810,2.100,0.126,0.042,1.81,0.03,1.74,1.8552,0.017,2004/07,7
12411,2004-08-01,2004-08-07,SUDESTE,SAO PAULO,GASOLINA COMUM,4131,R$/l,2.030,0.087,1.699,2.449,0.246,0.043,1.784,0.054,1.54,2.1291,0.03,2004/08,8
12600,2004-09-19,2004-09-25,SUDESTE,SAO PAULO,GASOLINA COMUM,4157,R$/l,2.031,0.092,1.690,2.400,0.235,0.045,1.796,0.053,1.477,2.074,0.03,2004/09,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117685,2020-12-27,2021-01-02,NORTE,AMAPA,GASOLINA COMUM,22,R$/l,3.830,0.105,3.730,4.099,-99999.0,0.027,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/01,1
118739,2021-02-07,2021-02-13,NORTE,AMAPA,GASOLINA COMUM,24,R$/l,4.121,0.049,4.090,4.220,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/02,2
119271,2021-02-28,2021-03-06,NORTE,AMAPA,GASOLINA COMUM,24,R$/l,4.579,0.106,4.480,4.790,-99999.0,0.023,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/03,3
120344,2021-04-11,2021-04-17,NORTE,AMAPA,GASOLINA COMUM,24,R$/l,4.777,0.079,4.680,4.990,-99999.0,0.017,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120701,2021-04-25,2021-05-01,NORTE,AMAPA,GASOLINA COMUM,24,R$/l,4.867,0.051,4.830,4.990,-99999.0,0.010,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05,5

In [107]:
# Apenas localizando as linhas que possui o maior indice, apenas p saber se esta no caminho correto
df2.loc[idx_max, :][["ESTADO", "PREÇO MÉDIO REVENDA", "ANO-MES"]]

             ESTADO  PREÇO MÉDIO REVENDA  ANO-MES
12104          ACRE                2.438  2004/05
12228   MATO GROSSO                2.496  2004/06
12374          ACRE                2.545  2004/07
12471   MATO GROSSO                2.560  2004/08
12590          ACRE                2.570  2004/09
...             ...                  ...      ...
118208         ACRE                5.213  2021/01
119092         ACRE                5.809  2021/02
119629         ACRE                6.688  2021/03
120163         ACRE                6.227  2021/04
120699         ACRE                6.258  2021/05

[204 rows x 3 columns]

In [108]:
# Pegando o estado q representa o max do indice
df_diff["ESTADO_MAX"] = df2.loc[idx_max, :]["ESTADO"].values
df_diff

         abs_diff  perct_diff    max    min   ESTADO_MAX
ANO-MES
2004/05     0.550   29.131356  2.438  1.888         ACRE
2004/06     0.584   30.543933  2.496  1.912  MATO GROSSO
2004/07     0.609   31.456612  2.545  1.936         ACRE
2004/08     0.530   26.108374  2.560  2.030  MATO GROSSO
2004/09     0.539   26.538651  2.570  2.031         ACRE
...           ...         ...    ...    ...          ...
2021/01     1.383   36.109661  5.213  3.830         ACRE
2021/02     1.688   40.960932  5.809  4.121         ACRE
2021/03     2.109   46.058091  6.688  4.579         ACRE
2021/04     1.450   30.353779  6.227  4.777         ACRE
2021/05     1.391   28.580234  6.258  4.867         ACRE

[204 rows x 5 columns]

In [109]:
# Agr a tabela mostra qual estado teve o maior e menor valor no mes.
df_diff["ESTADO_MIN"] = df2.loc[idx_min, :]["ESTADO"].values
df_diff

         abs_diff  perct_diff    max    min   ESTADO_MAX        ESTADO_MIN
ANO-MES
2004/05     0.550   29.131356  2.438  1.888         ACRE         SAO PAULO
2004/06     0.584   30.543933  2.496  1.912  MATO GROSSO         SAO PAULO
2004/07     0.609   31.456612  2.545  1.936         ACRE  DISTRITO FEDERAL
2004/08     0.530   26.108374  2.560  2.030  MATO GROSSO         SAO PAULO
2004/09     0.539   26.538651  2.570  2.031         ACRE         SAO PAULO
...           ...         ...    ...    ...          ...               ...
2021/01     1.383   36.109661  5.213  3.830         ACRE             AMAPA
2021/02     1.688   40.960932  5.809  4.121         ACRE             AMAPA
2021/03     2.109   46.058091  6.688  4.579         ACRE             AMAPA
2021/04     1.450   30.353779  6.227  4.777         ACRE             AMAPA
2021/05     1.391   28.580234  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [99]:
# Qual estado teve Valores maximos
df_diff["ESTADO_MAX"].value_counts()

ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: ESTADO_MAX, dtype: int64

In [100]:
# Qual estado teve o menor preço
df_diff["ESTADO_MIN"].value_counts()

SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
CEARA                   2
BAHIA                   2
Name: ESTADO_MIN, dtype: int64